*{
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 400;
}
html{
    overflow-x: hidden;
}
.background{
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background-image:url('../img/BG_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) -1%, rgba(1,1,1,0) 0%, rgba(79,79,79,0.65) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) -1%,rgba(1,1,1,0) 0%,rgba(79,79,79,0.65) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) -1%,rgba(1,1,1,0) 0%,rgba(79,79,79,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a64f4f4f',GradientType=1 );
}
header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    .header-content{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 18px;
        padding-left: 62px;

        nav{
            width: 100%;
            display: flex;
            
            justify-content: space-between;
            align-items: center;
            .nav-right{
                margin-right: 225px;
                .menu-burger{
                    display: none;
                }
                .search-input_hidden{
                    display: none;
                }
                .search-input_showed{
                    position: absolute;
                    right: 520px;
                    top: 39px;
                    width: 250px;
                    input{
                        width: 250px;
                        height: 30px;

                    }
                }
                a{
                    letter-spacing: 1px;
                    font-size: 16px;
                    font-family: "Poppins";
                    font-weight: 300;
                    color: rgb(49, 49, 49);
                    margin-left: 55px;
                    line-height: 1.875;
                }
            }
            .nav-left{

                a{
                    letter-spacing: 1px;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Poppins";
                    color: rgba(49, 49, 49, 0.6);
                    line-height: 1.875;
                    margin-left: 66px;
                }
            }
        }

    }
}
.content-section{
    display: flex;
    justify-content: space-between;
    height: 749px;
    width: 100%;
    padding-top: 217px;
    .content-left{
        text-align: right;
        padding-left: 130px;
        .reviews-text{
            font-size: 19px;
            padding-right: 25px;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            font-weight: 700;
            line-height: 0.75;
            padding-top: 32px;
            margin: 0;
        }
        .explore-text{
            padding-right: 25px;
            font-size: 38px;
            padding-top: 34px;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            line-height: 0.75;
            font-weight: 700;
            margin: 0;
        }
        .color-content{
            
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 25px;
            .color-change{
                display: none;
                .color-img{
                    display: none;
                    img{
                        display: none;
                    }
                }
                p{
                    padding-right: 25px;
                    font-family: "Poppins";
                    font-weight: 500;
                    color: rgb(49, 49, 49);
                    font-size: 18px;
                    margin: 0;
                    line-height: 1.2;
                }
            }
        }
        .price-part{
            text-align: right;
            padding-top: 114px;

            p{
                font-size: 155px;
                line-height: .75;
                font-family: "Poppins";
                font-weight: 300;
                color: rgb(49, 49, 49);
                
                span{
                    font-size: 72px;
                    font-family: "Poppins";
                    font-weight: 300;
                    color: rgb(49, 49, 49);
                    line-height: 1.055;
                }
            }
        }
    }
    
    .content-center{
        .sneakers-img{
            width: 100%;
            padding-left: 30px;
        }
    }
    .content-right{
        display: flex;
        justify-content: flex-end;
        padding-top: 111px;

            .right-texts{
            display: flex;
            flex-direction: column;
            margin-right: 136px;
        .adidas-text{
            font-size: 36px;
            margin: 0;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            line-height: 0.833;

        }
        .super-text{
            font-size: 48px;
            padding-top: 15px;
            font-family: "Poppins";
            letter-spacing: 2px;
            
            font-weight: 700;
            line-height: 0.8;
            color: rgb(49, 49, 49);
            margin: 0;
        }
        .shoe-text{
            padding-top: 29px;
            font-size: 24px;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            position: relative;
            left: 0;
            line-height: 1;
            margin: 0;
        }
        .size-text{
            padding-top: 31px;
            font-size: 30px;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            font-weight: 700;
            margin: 0;
            line-height: 0.6;
        }
        .cart-link{
            margin-top: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            width: 155px;
            height: 49px;
                a{
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    font-family: "Poppins";
                    color: rgb(255, 255, 255);
                }
        }
    }
}
}



@media screen and ( max-width: 1824px){
    body{

        background-position: center top;
    }
    header{
        .header-content{
        padding-top: 14px;
        padding-left: 14px;

        nav{
            .nav-right{
                margin-right: 50px;
                a{
                    letter-spacing: 1px;
                    font-size: 16px;
                    margin-left: 55px;

                }
            }
            .nav-left{
                a{
                    font-size: 16px;
                    margin-left: 66px;
                }
            }
        }
    }
    }
    .content-section{
        .content-left{
            padding-left: 75px;
            .reviews-text{
                font-size: 12px;
                padding-right: 25px;
                padding-top: 32px;
            }
            .explore-text{
                padding-right: 16px;
                font-size: 28px;
                padding-top: 34px;
            }
            .color-content{
                padding-right: 25px;
                .color-change{
                    p{
                        padding-right: 25px;
                        font-size: 18px;
                    }
                }
            }
            .price-part{
                padding-top: 80px;
    
                p{
                    font-size: 100px;

                    span{
                        font-size: 50px;
                    }
                }
            }
        }
        .content-center{
            .sneakers-img{  
                    width: 835px;
            }
        }
        .content-right{
            padding-top: 90px;
    
                .right-texts{
                margin-right: 75px;
            .adidas-text{
                font-size: 26px;
    
            }
            .super-text{
                font-size: 34px;
                padding-top: 15px;
            }
            .shoe-text{
                padding-top: 29px;
                font-size: 18px;
            }
            .size-text{
                padding-top: 31px;
                font-size: 22px;
            }
            .cart-link{
                margin-top: 34px;
                width: 120px;
                height: 36px;
                    a{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1440px){
    header{
        .header-content{
            nav{
                .nav-right{
                    margin-right: 50px;
                    a{
                        letter-spacing: 1px;
                        font-size: 16px;
                        margin-left: 42px;
                    }
                }
                .nav-left{
    
                    a{
                        font-size: 16px;
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1374px){
    header{
        .header-content{
            nav{

            .nav-right{
                margin-right: 50px;
                a{
                    letter-spacing: 1px;
                    font-size: 14px;
                    margin-left: 16px;
                }
            }
            .nav-left{

                a{
                    letter-spacing: 1px;
                    font-size: 14px;
                    margin-left: 18px;
                }
            }
        }
    }
}
    .content-section{
        .content-left{
            padding-left: 70px;
            .price-part{
                padding-top: 65px;
            }
        }
    .content-center{
        .sneakers-img{
            width: 735px;
        }
    }
        .content-right{
            padding-top: 75px;
        }
}
}
@media screen and (max-width: 1279px) and (min-width:1024px){
    .content-section{
        .content-left{
            padding-left: 35px;
            .reviews-text{
                font-size: 12px;
                padding-right: 25px;
                padding-top: 32px;
            }
            .explore-text{
                padding-right: 16px;
                font-size: 18px;
                padding-top: 34px;
            }
            .color-content{
                height: 30px;
                padding-right: 25px;
                .color-change{
                    .color-img{

                        img{
                            display: none;
                            width: 30px;
                            height: 30px;
                        }
                    }
                    p{
                        padding-right: 25px;
                        font-size: 12px;
                    }
                }
            }
            .price-part{
                padding-top: 55px;
    
                p{
                    font-size: 72px;

                    span{
                        font-size: 30px;
                    }
                }
            }
        }
        .content-center{
            .sneakers-img{
                width: 655px;
            }
        }
        .content-right{
            padding-top: 60px;
    
                .right-texts{
                margin-right: 35px;
            .adidas-text{
                font-size: 22px;
    
            }
            .super-text{
                font-size: 26px;
                padding-top: 15px;
            }
            .shoe-text{
                padding-top: 29px;
                font-size: 12px;
            }
            .size-text{
                padding-top: 31px;
                font-size: 18px;
            }
            .cart-link{
                margin-top: 34px;
                width: 120px;
                height: 36px;
                    a{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1023px) and (min-width:768px){
    header{
        .header-content{
            padding-top: 30px;
            .header-logo{
                margin-left: 20px;
            }
            nav{
                .nav-left{
                    display: flex;
                    flex-direction: column;
                    margin-left: 30px;
                    a{

                    }
                }
                .nav-right{
                    a{
                        display: none;
                    }
                    .menu-burger{
                            z-index: 10;
                            position: fixed;
                            top: 57px;
                            right: 40px;
                            display: block;
                            width: 100px;
                            height: 100px;
                            span , span:before , span:after{
                                content: '';
                                border-radius: 28%;
                                position: fixed;
                                height: 5px;
                                width: 40px;
                                display: block;
                                background: #000;
                                -webkit-border-radius: 28%;
                                -moz-border-radius: 28%;
                                -ms-border-radius: 28%;
                                -o-border-radius: 28%;
                                }
                                span:after{
                                    content: '';
                                    margin-top: -10px;
                                }
                                span:before{
                                    content: '';
                                    margin-top: 10px;
                        } 
                    }
                }
            }
        }
    }
    .content-section{
        display: block;
        padding-top: 100px;
        .content-left{

        }
        .content-center{
            position: absolute;
            left: 50%;
            .sneakers-img{
                width: 500px;
            }
        }
        .content-right{

        }
    }
}