*{
    text-transform: uppercase;
    font-family: 'Poppins Regular';
}

body{
    background-image:url('../img/BG_logo.png');
    background-repeat: no-repeat;
    background-position: center top;
}
header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    .header-content{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 18px;
        padding-left: 62px;

        nav{
            width: 100%;
            display: flex;
            
            justify-content: space-between;
            align-items: center;
            .nav-right{
                margin-right: 225px;
                a{
                    letter-spacing: 1px;
                    font-size: 16px;
                    font-family: "Poppins Medium";
                    color: rgb(49, 49, 49);
                    margin-left: 55px;
                    line-height: 1.875;
                }
            }
            .nav-left{

                a{
                    letter-spacing: 1px;
                    font-size: 16px;
                    font-family: "Poppins";
                    color: rgba(49, 49, 49, 0.6);
                    line-height: 1.875;
                    margin-left: 66px;
                }
            }
        }

    }
}
.content-section{
.three-blocks{
    display: flex;
    justify-content: space-between;
    height: 749px;
    width: 100%;
    padding-top: 217px;
    .content-left{
        text-align: right;
        padding-left: 130px;
        .reviews-text{
            font-size: 19px;
            padding-right: 25px;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            font-weight: bold;
            line-height: 0.75;
            padding-top: 32px;
            margin: 0;
        }
        .explore-text{
            padding-right: 25px;
            font-size: 38px;
            padding-top: 34px;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            line-height: 0.75;
            font-weight: bold;
            margin: 0;
        }
        .color-content{
            
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 25px;
            .color-change{
                p{
                    padding-right: 25px;
                    font-family: "Poppins Medium";
                    color: rgb(49, 49, 49);
                    font-size: 18px;
                    margin: 0;
                    line-height: 1.2;
                }
            }
        }
        .price-part{
            text-align: right;
            padding-top: 114px;

            p{
                font-size: 155px;
                line-height: .75;
                font-family: "Poppins Light";
                color: rgb(49, 49, 49);
                
                span{
                    font-size: 72px;
                    font-family: "Poppins Light";
                    color: rgb(49, 49, 49);
                    line-height: 1.055;
                }
            }
        }
    }
    
    .content-center{

        .sneakers-img{
            padding-left: 30px;
        }
    }
    .content-right{
        display: flex;
        justify-content: flex-end;
        padding-top: 111px;

            .right-texts{
            display: flex;
            flex-direction: column;
            margin-right: 136px;
        .adidas-text{
            font-size: 36px;
            margin: 0;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            line-height: 0.833;

        }
        .super-text{
            font-size: 48px;
            padding-top: 15px;
            font-family: "Poppins";
            letter-spacing: 2px;
            
            font-weight: bold;
            line-height: 0.8;
            color: rgb(49, 49, 49);
            margin: 0;
        }
        .shoe-text{
            padding-top: 29px;
            font-size: 24px;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            position: relative;
            left: 0;
            line-height: 1;
            margin: 0;
        }
        .size-text{
            padding-top: 31px;
            font-size: 30px;
            font-family: "Poppins";
            color: rgb(49, 49, 49);
            font-weight: bold;
            margin: 0;
            line-height: 0.6;
        }
        .cart-link{
            margin-top: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            width: 155px;
            height: 49px;
                a{
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-family: "Poppins";
                    color: rgb(255, 255, 255);
                }
        }
    }
}
}
}
@media only screen and (min-width : 1224px) {
    .content-section{
        .content-center{
            display: block;
        }
    }
}
@media screen and (max-width: 479px) {
    .content-section{
        .content-right{
            padding: 0;
            margin: 0;
        }
        .content-left{
            margin: 0;
            padding: 0;
        }
        .content-center{
            width: 150px;
        }
    }
}